* {
  margin: 0;
  padding: 0;
  border: 0;
}


.App {
  text-align: center;
}

.card {
  display: inline-grid;
  grid-template-columns: 125px;
  grid-template-rows: 125px;
  border: 2px solid #282c34;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  grid-auto-flow: row;
}

.CardPic {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.ReviewInfo {
  justify-items: stretch;
}

.review-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4vh 4vh 4vh 4vh 24vh;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  padding: 25px;
  column-gap: 12px;
}

.rImg {
  width: 150px;
  height: 150px;
  justify-self: end;
  grid-column: 1/2;
  grid-row: 1/5;
}

.rPTag {
  grid-column: 2/3;
}

.rBody {
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
  padding: 50px;
  border: 2px solid #282c34;
  border-radius: 15px;
}

.Cbox {
  border: 2px solid #282c34;
  border-radius: 15px;
  padding: 20px;
}

.comment {
  border: 2px solid #282c34;
  border-radius: 15px;
  padding: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

